<carousel>
  <slide>
    <img
      src="assets/images/hero1.jpg"
      alt="first-slide"
      style="display: block; width: 100%"
    />
  </slide>

  <slide>
    <img
      src="assets/images/hero2.jpg"
      alt="second-slide"
      style="display: block; width: 100%"
    />
  </slide>

  <slide>
    <img
      src="assets/images/hero3.jpg"
      alt="third-slide"
      style="display: block; width: 100%"
    />
  </slide>
</carousel>

<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to ECommerce Shopping Website!</h1>
  </div>
</section>

<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
    <img src="../../../assets/img/daddy.jpg"/>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <img src="../../../assets/img/daddy.jpg"/>
  </ng-template>
</ngb-carousel> -->
